// Page header
#front-hero {
	background: $primary-color;

	p {
		padding:3rem;
		color:white;
		font-family: 'Arvo';
		line-height:1.75rem;
	}

	.front-icon {
		text-align: center;

		.icon {
			width:75px;
			height:75px;
			margin-bottom:1em;
		}

		.icon-text {
			color:white;
			text-transform: uppercase;
		}

	}
}

#wrapper {
	background: transparent;
}

.front-buttons {
	padding:2rem;

	.columns:first-of-type {
		border-right: 1px solid $light-gray;
	}

	.button {
		padding:2rem 4rem;
		background: lighten(complement($primary-color), 20%);
		margin:2rem auto;
		font-family: Arvo;
		font-size:2rem;

		transition: all 0.4s ease-in-out;

		&:hover {
			background: lighten(complement($primary-color), 30%);
			transform: scale(1.05)
		}
	}
}

.front-box {
	height:400px;
	background:$light-gray;
}

.parallax-window {
	overflow: hidden;
	height: 400px;
}
