// #single-post {
//   @include grid-row();
//   margin-top: 1rem;

//   .main-content {
//     @include breakpoint(small) {
//       @include flex-grid-column(12);
//     }

//     @include breakpoint(medium) {
//       @include flex-grid-column(8);
//     }
//   }

// }

.blogpost-entry {
  header {
    padding:2rem;
    padding-bottom:0;
  }
}

hr {
  opacity: 0.2;
}

.more-link {
  font-weight: bold;
}

.attachment-post-thumbnail {
  width:35%;
  float:left;
  padding:0 1rem 0 0;
  transform: translateY(7px);
}

.byline.author {
  margin-bottom:0;
}

.muted {
  opacity: 0.4;
}