#masthead {
  background:$dark-gray;
}

.inline-svg {
  height: 0;
  width: 100%;
  padding-top: 100%;
  position: relative;

  svg {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.mobile-logo {
  background: $primary-color;

}

#logo {
  background: $primary-color;

  @include breakpoint(medium) {

  height:100%;
  position:relative;
  transform: translateY(21px);
  z-index:1000;

  img {
    transform: translateY(-6px);
  }

  .flag-point {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;

    .st0 {
      color: $primary-color;
      opacity:1;
    }
  }

  &:before {
    position:absolute;
    content:" ";
    z-index:20;
    top:-300px;
    width:100%;
    left:0px;
    height:300px;
    background: $primary-color;

  }

  }
}

#site-navigation .dropdown {
  position:relative;
  height: 100%;
  display:table;

  li {

    height: 100%;
    a {
      margin-bottom: 3px;
    }

    &:hover > a {
      border-bottom: 3px solid $light-gray;
      margin-bottom:0;
    }
  }

  .menu-item:hover .main-submenu, .menu-item.menu-active .main-submenu {
    visibility:visible;
    opacity:0.9;
  }

}

.top-bar {

  &.main-navigation {
    height:115px;
  }

  .menu > li:not(.menu-text) > a {
    padding: 0.5rem 1rem 0.5rem 1rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
  }

  .menu > li {
    height:100%;
  }

  .dropdown.menu .submenu {
    background-color: #121212;
    color: #e6e6e6;
    border: 0;
  }

  .dropdown.menu .has-submenu.is-down-arrow a {
    padding-right: 1rem;
  }

  .dropdown.menu .has-submenu.is-down-arrow>a::after {
    border: 0;
  }


}

a.student-portal-button {
  font-size: 0.8rem;
  color: $dark-gray;

  transition: all 0.2s ease-out;

  &:hover {
    color:white;
  }
}

.vertical &.menu {
  padding: 1rem;
}

.title-bar {
  @include breakpoint(medium) {
    display: none;
  }

  .menu {
    display:table;
  }

  background:$light-gray;
}

.student-portal {
  background:$light-gray;
  position:relative;

  .menu-item {
    background:$light-gray;
  }

}

#wrapper {
  transition: transform 0.5s ease-in-out;
  transform: translateY(-158px);
}

#wrapper.show-student-portal {
  transform: translateY(0);
}



